<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-JG027C2;Initial Catalog=Restaurant;Integrated Security=SSPI;"
         name="myConStr"/>
  </connectionStrings>
  <appSettings>
    <add key="reducereMeniu" value="10"/>
    <add key="a" value="20"/>
    <add key="b" value="5"/>
  </appSettings>
</configuration>